
.square-red {
    background: red;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px auto;
}

.square-green {
    background: green;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px auto;
}

.square-black {
    background: black;
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px auto;
    color: white;
}

.square-both {
    background: repeating-linear-gradient(
        0deg,
        red,
        red 10px,
        green 10px,
        green 20px
      );
    width: 100px;
    height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5px auto;
    color: white;
}

.square-selected {
    border: blue;
    border-style: solid;
    border-width: 5px;
}



#cooldown-overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}

#cooldown-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.box {
    width: 50px;
    height: 50px;
    background: gray;
    text-align: center;
}