.header {
    height: 64px;
    width: 100%;
    background: black;
    color: white;
}

.logo {
    float: left;
}

.header img {
    height: 60px;
}

h1 {
    text-align: center;
    margin: auto;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

small {
    text-align: center;
    margin: auto;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #247dff;
    padding-top: 0;
}
.container {
    padding: 40px;
}
.message {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.connection {
    float: right;
    position: relative;
}
.connection .status {
    display: inline-block;
    font-size: 18px;
    position: absolute;
    right: 64px;
    top: 20px;
    width: 200px;
    text-align: right;
}

.connection i {
    display: inline-block;
    font-size: 26px;
    padding: 19px;
}

.connected {
    color: #00FF00;
}

.not-connected {
    color: red;
}

.connecting {
    color: yellow;
}

.welcome {
    /* /padding-bottom: 25px; */
    padding: 0 25px 25px;
}